body { 
    margin:0; 
    padding:0; 
}  
#control {
    padding:20px;
}

.city {
    float:left;
    /*width: 440px;*/
    /*height: 440px;*/
}
.map { 
    width: 400px;
    height: 400px;
    padding:20px
}
